# MOHAMMAD ZAIN

# EXERCISE 3.18

In [1]:
a=3
b=4
c=5
if a<b:
    print("OK")
if c<b:
    print("OK")
else:
    print("C is not less than b")
if a+b==c:
    print("OK")
else:
    print("the sum of a and b is not equal to c")
if a**2+b**2==c**2:
    print("OK")
else:
    print("NOT OK")

OK
C is not less than b
the sum of a and b is not equal to c
OK

In [6]:
#QUESTION NO 4
lst=['january','feburary','march']
for i in lst:
    lst

In [7]:
#QUESTION NO 17
a=input("Enter your name")
b=a[::-1]
print(b)

Enter your namezain
niaz

# EXERCISE 3.20

In [8]:
lst = ['january','february','march']

for january in lst:
    print(january[0:3])

jan
feb
mar

# EXERCISE 3.21

In [ ]:
lst = [2, 3, 4, 5, 6, 7, 8, 9] 
  
for num in lst: 
    if num % 2 == 0:
        print(num, end = " ")

# EXERCISE 3.22

In [9]:
lst = [2, 3, 4, 5, 6, 7, 8, 9]

for num in lst:
    if (num * num) % 8 == 0:
        print(num)

4
8

# EXERCISE 3.23

In [10]:
# a
for i in range(2):
    print(i, end = " ")

0 1

In [11]:
# b
for i in range(1):
    print(i, end = " ")

0

In [12]:
# c
for i in range(3,7):
    print(i, end = " ")

3 4 5 6

In [13]:
# d
for i in range(1,2):
    print(i, end = " ")

1

In [14]:
# e
for i in range(0,4,3):
    print(i, end = " ")

0 3

In [15]:
# f
for i in range(5,22,4):
    print(i, end = " ")

5 9 13 17 21

# EXERCISE 3.24

In [ ]:
words = eval(input(" enter the list of words: "))
for word in words:
    if word!='secret':
        print(word)

# EXERCISE 3.25

In [ ]:
names = eval(input("enter list: "))
names_1 = names[0]
names_2 = names[-1]
print(names_1)
print(names_2)

# EXERCISE 3.26

In [ ]:
numbers = eval(input("enter a list"))
num_1 = numbers[0]
num_2 = numbers[3]
print("The first list element is", num_1)
print("The last list element is", num_2)

# EXERCISE 3.27

In [ ]:
n = int(input("Enter n:"))
for i in range(4):
    print(n*(i+1))

# EXERCISE 3.28

In [ ]:
integer = eval(input("enter n: "))
for i in range(0,n):
    if i!=n:
        s = i**2
        print(s)

# EXERCISE 3.30

In [1]:
num_1 = eval(input("enter the first number: "))
num_2 = eval(input("enter the second number: "))
num_3 = eval(input("enter the third number: "))
num_4 = eval(input("enter the fourth number: "))

if (num_1 + num_2 + num_3)/4 == num_4:
    print("equal")

enter the first number: 2
enter the second number: 3
enter the third number: 4
enter the fourth number: 4

# EXERCISE 3.31

In [2]:
radius = 8
a = 0
b = 0
x = eval(input("enter the x-cordinate: "))
y = eval(input("enter the y-cordinate: "))
point = (x-a)**2+(y-b)**2
if point<radius:
    print("it is in")
else:
    print("it is not in")

enter the x-cordinate: 2
enter the y-cordinate: 3
it is not in

# EXERCISE 3.32

In [3]:
number = input("enter n: ")
number.split()
for i in number:
    print(i)

enter n: 3
3

# EXERCISE 3.33

In [ ]:
def reverse(s): 
  str = "" 
  for i in s: 
    str = i + str
  return str
  
s = "abc"
  
print ("reversed_string : ",end="") 
print (s) 
print (reverse(s))

# EXERCISE 3.34

In [4]:

def pay(hours):
    if hours<40:
        a=(hours/1.5)*500
        print("You have worked less than 40 hours")
        return a
    else :
        a=hours*500
        print("you have worked hard")
        return a
    
h=int(input("how many hours you have worked"))
pay(h)

how many hours you have worked34
You have worked less than 40 hours

11333.333333333334

# EXERCISE 3.35

In [5]:
def prob(n):
    res=2**-n
    return res
n=int(input("Enter value of n"))
prob(n)

Enter value of n4

0.0625

# EXERCISE 3.36

In [ ]:
def rev(a):
    res=a[::-1]
    return res
a=str(input("Enter enter string"))
rev(a)

Enter enter stringstring

# EXERCISE 3.37

In [1]:
def points(x1,y1,x2,y2):
    res=(y2-y1)/(x2-x1)
    if res==0:
        print("Line is vertical")
    else:
        return res
points(1,1,0,1)
from math import sqrt
def distance(x1,y1,x2,y2):
    a=(x2-x1)*(y2-y1)
    b=sqrt(a)
    print("distance is", b)
distance(1,2,4,5)

Line is vertical
distance is 3.0

# EXERCISE 3.41

In [1]:
a=input("Enter your name: ")
b=a[::-1]
print(b)

niaz

# EXERCISE 3.44

In [2]:
def main():
    time = eval(input("What is the time (in seconds) elapsed between the flash and thunder? "))
    sound = 1100*time
    ans = sound/5280
    print("The distance to a lightening strike is ", ans , "miles")
main()

What is the time (in seconds) elapsed between the flash and thunder? 3
The distance to a lightening strike is  0.625 miles